<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.php" matchType="IsFile" ignoreCase="false" />
                        <add input="{URL}" pattern="/$" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}\.php" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^.*" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_USER_AGENT}" pattern="^BlackWidow" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Bot\ mailto:olaoluwa.bankole@upperlink.ng" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^ChinaClaw" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Custo" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^DISCo" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Download\ Demon" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^eCatch" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^EirGrabber" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^EmailSiphon" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^EmailWolf" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Express\ WebPictures" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^ExtractorPro" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^EyeNetIE" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^FlashGet" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^GetRight" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^GetWeb!" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Go!Zilla" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Go-Ahead-Got-It" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^GrabNet" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Grafula" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^HMView" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="HTTrack" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Image\ Stripper" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Image\ Sucker" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="Indy\ Library" />
                        <add input="{HTTP_USER_AGENT}" pattern="^InterGET" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Internet\ Ninja" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^JetCar" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^JOC\ Web\ Spider" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^larbin" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^LeechFTP" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Mass\ Downloader" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^MIDown\ tool" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Mister\ PiX" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Navroad" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^NearSite" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^NetAnts" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^NetSpider" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Net\ Vampire" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^NetZIP" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Octopus" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Offline\ Explorer" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Offline\ Navigator" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^PageGrabber" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Papa\ Foto" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^pavuk" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^pcBrowser" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^RealDownload" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^ReGet" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^SiteSnagger" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^SmartDownload" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^SuperBot" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^SuperHTTP" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Surfbot" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^tAkeOut" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Teleport\ Pro" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^VoidEYE" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Web\ Image\ Collector" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Web\ Sucker" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^WebAuto" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^WebCopier" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^WebFetch" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^WebGo\ IS" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^WebLeacher" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^WebReaper" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^WebSauger" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Website\ eXtractor" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Website\ Quester" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^WebStripper" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^WebWhacker" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^WebZIP" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Wget" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Widow" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^WWWOFFLE" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Xaldon\ WebSpider" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^Zeus" ignoreCase="false" />
                        <add input="{URL}" pattern="^images.*" ignoreCase="false" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{R:1}" pattern="^(index\.php|css|js|assets|img|robots\.txt)" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?/{R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
